# Spring Boot specific
/target/
*.class
*.jar
*.war
*.ear
*.log
!application.properties
!application.yml

# IDE-specific
.idea/
.vscode/

# Maven specific
mvnw
mvnw.cmd
.mvn/

# Gradle specific
.gradle/
build/

# Logs
logs/

# Test coverage
test-output/
*.iml
cobertura.ser

# Miscellaneous
*.tmp
*.bak